<a href="https://colab.research.google.com/github/SowmyaMadala/Labtasks/blob/main/NaiveBayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

In [ ]:
data=pd.read_csv('/content/play_tennis.csv')
data=data.drop(columns='day')
data.head()

    outlook  temp humidity    wind play
0     Sunny   Hot     High    Weak   No
1     Sunny   Hot     High  Strong   No
2  Overcast   Hot     High    Weak  Yes
3      Rain  Mild     High    Weak  Yes
4      Rain  Cool   Normal    Weak  Yes

In [ ]:
le=preprocessing.LabelEncoder()
data['outlook']=le.fit_transform(data['outlook'])
data['temp']=le.fit_transform(data['temp'])
data['humidity']=le.fit_transform(data['humidity'])
data['wind']=le.fit_transform(data['wind'])
data['play']=le.fit_transform(data['play'])
data.head()

   outlook  temp  humidity  wind  play
0        2     1         0     1     0
1        2     1         0     0     0
2        0     1         0     1     1
3        1     2         0     1     1
4        1     0         1     1     1

In [ ]:
concepts=data.drop(columns='play')
concepts.head()
target=data['play']

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(concepts,target)
gnb=GaussianNB()
gnb.fit(x_train,y_train)
gnb
pred=gnb.predict(x_test)
print(pred)
print(accuracy_score(pred,y_test))

[0 0 1 0]
0.75