<a href="https://colab.research.google.com/github/SowmyaMadala/Labtasks/blob/main/SentimentAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords
from textblob import TextBlob

In [ ]:
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
train=pd.read_csv('/content/train.csv')
test=pd.read_csv('/content/test.csv')
train.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [ ]:
def num_of_words(df):
  df['wordcount']=df['tweet'].apply(lambda x: len(str(x).split()))
num_of_words(train)
num_of_words(test)
train.head()
test.head()

      id                                              tweet  wordcount
0  31963  #studiolife #aislife #requires #passion #dedic...          9
1  31964   @user #white #supremacists want everyone to s...         16
2  31965  safe ways to heal your #acne!!    #altwaystohe...          9
3  31966  is the hp and the cursed child book up for res...         22
4  31967    3rd #bihday to my amazing, hilarious #nephew...         15

In [ ]:
stop=stopwords.words('english')
def stop_words(df):
  df['stopwords']=df['tweet'].apply(lambda x: len([x for x in x.split() if x in stop]))
stop_words(train)
stop_words(test)
train.head()

   id  label  ... wordcount  stopwords
0   1      0  ...        18         10
1   2      0  ...        19          5
2   3      0  ...         3          1
3   4      0  ...        14          5
4   5      0  ...         4          1

[5 rows x 5 columns]

In [ ]:
def stop_words_removal(df):
  df['tweet']=df['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
stop_words_removal(train)
stop_words_removal(test)
train.head()

   id  label  ... wordcount  stopwords
0   1      0  ...        18         10
1   2      0  ...        19          5
2   3      0  ...         3          1
3   4      0  ...        14          5
4   5      0  ...         4          1

[5 rows x 5 columns]

In [ ]:
def lower_case(df):
  df['tweet']=df['tweet'].apply(lambda x:" ".join(x.lower() for x in x.split()))
lower_case(train)
lower_case(test)
train.head()

   id  label  ... wordcount  stopwords
0   1      0  ...        18         10
1   2      0  ...        19          5
2   3      0  ...         3          1
3   4      0  ...        14          5
4   5      0  ...         4          1

[5 rows x 5 columns]

In [ ]:
def punctuation_removal(df):
    df['tweet'] = df['tweet'].str.replace('[^\w\s]','')
punctuation_removal(train)
punctuation_removal(test)

In [ ]:
freq = pd.Series(' '.join(train['tweet']).split()).value_counts()[:10]
freq

user     17473
love      2647
ð         2511
day       2199
â         1797
happy     1663
amp       1582
im        1139
u         1136
time      1110
dtype: int64

In [ ]:
def frequent_words_removal(df):    
    df['tweet'] = df['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
frequent_words_removal(train)
frequent_words_removal(test)
train.head()

   id  label  ... wordcount  stopwords
0   1      0  ...        18         10
1   2      0  ...        19          5
2   3      0  ...         3          1
3   4      0  ...        14          5
4   5      0  ...         4          1

[5 rows x 5 columns]

In [ ]:
freq = pd.Series(' '.join(train['tweet']).split()).value_counts()[-10:]
freq

brutally          1
invoking          1
violently         1
striping          1
yiannopoulosis    1
kme               1
becarefull        1
larger            1
bediscovery       1
4500              1
dtype: int64

In [ ]:
def rare_words_removal(df):
    df['tweet'] = df['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
rare_words_removal(train)
rare_words_removal(test)
train.head()

   id  label  ... wordcount  stopwords
0   1      0  ...        18         10
1   2      0  ...        19          5
2   3      0  ...         3          1
3   4      0  ...        14          5
4   5      0  ...         4          1

[5 rows x 5 columns]

In [ ]:
def tokens(df):
    return TextBlob(df['tweet'][1]).words
tokens(train)
tokens(test)

WordList(['white', 'supremacists', 'want', 'everyone', 'see', 'new', 'birdsâ', 'movie', 'hereâs'])

In [ ]:
from nltk.stem import PorterStemmer
st = PorterStemmer()

In [ ]:
def stemming(df):
    return df['tweet'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))
stemming(train)
stemming(test)

0    studiolif aislif requir passion dedic willpow ...
1    white supremacist want everyon see new birdsâ ...
2            safe way heal acn altwaystoh healthi heal
3    hp curs child book reserv alreadi ye where no ...
4    3rd bihday amaz hilari nephew eli ahmir uncl d...
Name: tweet, dtype: object

In [ ]:
tf1 = (train['tweet'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']

In [ ]:
for i,word in enumerate(tf1['words']):
    tf1.loc[i, 'idf'] = np.log(train.shape[0]/(len(train[train['tweet'].str.contains(word)])))

In [ ]:
tf1['tfidf'] = tf1['tf'] * tf1['idf']
tf1

          words  tf        idf      tfidf
0    getthanked   1   9.679156   9.679156
1         cause   1   5.610129   5.610129
2          lyft   1   8.762865   8.762865
3           use   1   3.533898   3.533898
4   disapointed   1  10.372303  10.372303
5          vans   1   8.426393   8.426393
6         offer   1   6.522155   6.522155
7        thanks   1   4.597751   4.597751
8    wheelchair   1   9.273691   9.273691
9           pdx   1   8.762865   8.762865
10         cant   1   3.538194   3.538194
11       credit   1   7.327781   7.327781

In [ ]:
def polarity_subjectivity(df):
    return df['tweet'][:5].apply(lambda x: TextBlob(x).sentiment)
polarity_subjectivity(train)
polarity_subjectivity(test)

0                                    (0.0, 0.0)
1    (0.06818181818181818, 0.22727272727272727)
2                                    (0.5, 0.5)
3                                    (0.5, 1.0)
4      (0.3666666666666667, 0.6333333333333333)
Name: tweet, dtype: object

In [ ]:
def sentiment_analysis(df):
    df['sentiment'] = df['tweet'].apply(lambda x: TextBlob(x).sentiment[0] )
    return df[['tweet','sentiment']].head()

In [ ]:
sentiment_analysis(train)

                                               tweet  sentiment
0  father dysfunctional selfish drags kids dysfun...       -0.5
1  thanks lyft credit cant use cause offer wheelc...        0.2
2                                     bihday majesty        0.0
3                            model take urð ðððð ððð        0.0
4                      factsguide society motivation        0.0

In [ ]:
sentiment_analysis(test)

                                               tweet  sentiment
0  studiolife aislife requires passion dedication...   0.000000
1  white supremacists want everyone see new birds...   0.068182
2  safe ways heal acne altwaystoheal healthy healing   0.500000
3  hp cursed child book reservations already yes ...   0.500000
4  3rd bihday amazing hilarious nephew eli ahmir ...   0.366667